[submodule "addons/ofxImGui"]
	path = addons/ofxImGui
[submodule "addons/ofxImGui"]
	url = https://github.com/jvcleave/ofxImGui.git
[submodule "addons/ofxAsio"]
	path = addons/ofxAsio
[submodule "addons/ofxAsio"]
	url = https://github.com/elliotwoods/ofxAsio.git
[submodule "addons/ofxSquash"]
	path = addons/ofxSquash
[submodule "addons/ofxSquash"]
	url = https://github.com/elliotwoods/ofxSquash.git
[submodule "addons/ofxSquashBuddies"]
	path = addons/ofxSquashBuddies
[submodule "addons/ofxSquashBuddies"]
	url = https://github.com/elliotwoods/ofxSquashBuddies.git
[submodule "addons/ofxAddonLib"]
	path = addons/ofxAddonLib
[submodule "addons/ofxAddonLib"]
	url = https://github.com/elliotwoods/ofxAddonLib.git
[submodule "addons/ofxCv"]
	path = addons/ofxCv
[submodule "addons/ofxCv"]
	url = https://github.com/kylemcdonald/ofxCv.git
